body{
}
#main_container {
    background-color: aliceblue;
    margin-left: 10em;
    width: 80%;
    padding: 10px;
    align-content: center;
    justify-content: center;
    border: 1px solid;
    border-color: #000000;
}
    header{
        height: 3em;
        background-color: rgb(57, 57, 210);
        font-size: 35px;
        margin: 10px;
        color: white;
        text-align: center;
    }
        #middle-section{
            display: flex;
            flex-direction: column;
            margin: 10px;
            height: 45em;
            padding-top: 3em;
            background-color: rgb(128, 125, 125);
            flex-grow: 1;
        }

            #top-section{
                margin: 10px;
                height: 100px;
                background-color: rgb(221, 221, 221);
            }
                form{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
             
                }
                 div{
                    
                     border: 1px solid;
                }
                    input{
                        width: 50px;
                    }

            #main_section{
                display: flex;
                flex-direction: column;
                flex: 3;
                margin: 10px;
                height: 85%;
                background-color: rgb(3, 134, 190);
            }

                #table-render-space{
                  
                    justify-content: center;
                    flex: 1;
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: rgb(226, 226, 182);
                }

                #table-html-space{
                 
                    flex: 1;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    height: 45%;
                    background-color: rgb(255, 0, 0);
                }

    footer{
        margin-left: auto;
        margin: 10px;
        padding: 10px;
        height: 3em;
        background-color: rgb(57, 57, 210);
        font-size: 35px;
        bottom: 0;
        color: white;
        text-align: center;
    }
    p1,p2 {}

    